a {
    color: #025aa5;
}
body {
    background: #F1F1F1;
    padding-top: 60px;
}
body, pre {
    color: #4b4b4b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}